{% extends "base.html" %}

{% block title %}
Détail sortie matériel
{% endblock %}

{% block content %}

<div class="card p-4 shadow-sm">

    <h3 class="mb-3 text-uppercase">
        Détail sortie matériel
    </h3>

    <hr>

    <p><strong>Matériel :</strong> {{ materielsort.id_Materiel.nom }}</p>

    <p><strong>Responsable :</strong> {{ materielsort.Res_MatSort }}</p>

    <p><strong>Quantité :</strong> {{ materielsort.Nb_MatSort }}</p>

    <p><strong>Observation :</strong> {{ materielsort.Obs_MatSort }}</p>

    <p><strong>Date :</strong> {{ materielsort.dateAv|date:"d/m/Y H:i" }}</p>

    <a href="{% url 'materielsort:materielsort_list' %}"
       class="btn btn-secondary">
        Retour
    </a>

</div>

{% endblock %}