{% extends "base.html" %}
{% block title %}
Formulaire Avance
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm p-4">
        <h3 class="mb-4 text-center text-uppercase">
            {% if form.instance.id %}
                Modifier une avance
            {% else %}
                Ajouter une avance
            {% endif %}
        </h3>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3">
    <label>Client</label>
    {{ form.id_client }}
</div>
<div class="mb-3">
    <label>Motif</label>
    {{ form.motifAv }}
</div>
<div class="mb-3">
    <label>Montant</label>
    {{ form.montantAv }}
</div>
<div class="mb-3">
    <label>Type d'avance</label>
    {{ form.typeAv }}
</div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 bg-light">
                        <h5 class="text-center">Résumé</h5>
                        <hr>
                        <p><strong>Client :</strong> {{ form.id_client.value }}</p>
                        <p><strong>Montant :</strong> {{ form.montantAv.value }}</p>
                        <p><strong>Type :</strong> {{ form.typeAv.value }}</p>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="{% url 'avances:avance_list' %}" class="btn btn-secondary">Retour</a>
        </form>
    </div>
</div>
{% endblock %}