{% extends "base.html" %}

{% block title %}Formulaire Produit{% endblock %}

{% block content %}

<div class="card shadow-sm p-4">

    <h3 class="text-center text-uppercase mb-3">
        {% if form.instance.id %}
            <span class="text-info">Modifier un produit</span>
        {% else %}
            <span class="text-success">Ajouter un produit</span>
        {% endif %}
    </h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}

        <div class="row">

            <div class="col-md-6">

                <div class="mb-2">
                    <label>Client</label>
                    {{ form.client }}
                </div>

                <div class="mb-2">
                    <label>Véhicule / Chauffeur</label>
                    {{ form.vehicule }}
                </div>

                <div class="mb-2">
                    <label>Source</label>
                    {{ form.source }}
                </div>

                <div class="mb-2">
                    <label>Type de paiement</label>
                    {{ form.type_produit }}
                </div>

                <div class="mb-2">
                    <label>Montant/Kg</label>
                    {{ form.montant }}
                </div>

                <div class="mb-2">
                    <label>Quantité(Kg)</label>
                    {{ form.quantite }}
                </div>

                <div class="mb-2">
                    <label>Pourcentage</label>
                    {{ form.pourcentage }}
                </div>

            </div>

            <div class="col-md-4 text-center">

                <div class="mb-3">
                    <label>Photo</label><br>
                    {{ form.photo }}
                </div>

                {% if form.instance.photo %}
                    <img src="{{ form.instance.photo.url }}"
                         class="img-thumbnail mt-2"
                         style="width:200px;height:200px;object-fit:cover;">
                {% endif %}

            </div>

        </div>

        <hr>

        <button class="btn btn-success">Enregistrer</button>
        <a href="{% url 'produit:p_produit_liste' %}" class="btn btn-secondary">Retour</a>

    </form>

</div>

{% endblock %}