{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h3>Liste du personnel</h3>
        {% if request.session.role == "Admin" %}
        <a href="{% url 'personnel:personnel_add' %}" class="btn btn-primary"> + Nouveau</a>
        {% endif %}
    </div>
    <form method="GET" class="row g-2 mb-4">
        <div class="col-md-3">
            <input type="text" name="nom" value="{{ nom }}" class="form-control" placeholder="Nom">
        </div>
        <div class="col-md-3">
            <input type="text" name="prenom" value="{{ prenom }}" class="form-control" placeholder="Prénom">
        </div>
        <div class="col-md-3">
            <input type="text" name="fonction" value="{{ fonction }}"  class="form-control" placeholder="Fonction">
        </div>
        <div class="col-md-3">
            <input type="text" name="categorie" value="{{ categorie }}" class="form-control" placeholder="Catégorie">
        </div>
        <div class="col-md-12">
            <button class="btn btn-success"> Rechercher </button>
            <a href="{% url 'personnel:personnel_list' %}" class="btn btn-secondary"> Réinitialiser </a>
        </div>
    </form>

    <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Fonction</th>
                <th>Catégorie</th>
                <th>Téléphone</th>
                <th>Salaire</th>
                <th>Date contrat</th>
                {% if request.session.role == "Admin" %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
        {% for personnel in personnels %}
            <tr>
                <td>{{ personnel.id }}</td>
                <td>
                    {% if personnel.photo %}
                    <img src="{{ personnel.photo.url }}" width="50" height="50" class="rounded">
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>{{ personnel.nom|upper }}</td>
                <td>{{ personnel.prenom|title }}</td>
                <td>{{ personnel.fonction }}</td>
                <td>{% if personnel.categorie %}{{ personnel.categorie.nom }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ personnel.telephone }}</td>
                <td>{{ personnel.psalaire }}</td>
                <td>{{ personnel.debutContrat|date:"d/m/Y" }}</td>
                {% if request.session.role == "Admin" %}
                <td>
                    <a href="{% url 'personnel:personnel_detail' personnel.id %}" class="btn btn-info btn-sm"> Voir </a>
                    <a href="{% url 'personnel:personnel_edit' personnel.id %}" class="btn btn-warning btn-sm"> Modifier </a>
                    <a href="{% url 'personnel:personnel_delete' personnel.id %} class="btn btn-danger btn-sm"> Supprimer </a>
                </td>
                {% endif %}

            </tr>
        {% empty %}
            <tr>
                <td colspan="10" class="text-center">Aucun personnel trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}