<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a class="navbar-brand fw-bold" href="#">🚚 Transit ERP</a>
    <div class="container">        
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'produit:p_produit_liste' %}">📦 Produit</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Personne</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'clients:client_list' %}">Client</a></li>
                        <li><a class="dropdown-item" href="{% url 'personnel:personnel_list' %}">Personnel</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">💰 Monétaire</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'avances:avance_list' %}">Avance</a></li>
                        <li><a class="dropdown-item" href="{% url 'depense:depense_list' %}">Dépense</a></li>
                        <li><a class="dropdown-item" href="{% url 'depot:depot_list' %}">Dépot</a></li>
                        <li><a class="dropdown-item" href="{% url 'salaire:salaire_list' %}">Salaire</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Matériels</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'materiels:materiels_list' %}">Materiel</a></li>
                        <li><a class="dropdown-item" href="{% url 'materielEntre:materielEntre_list' %}">Entrant</a></li>
                        <li><a class="dropdown-item" href="{% url 'materielsort:materielsort_list' %}">Sortie</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'transentrant:t_transentrant_liste' %}">Véhicule</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
