{% extends "base.html" %}

{% block title %}Liste des entrées matériel{% endblock %}

{% block content %}

<div class="container mt-4">

    <h3 class="text-center text-uppercase mb-4">
        Entrées de matériel
    </h3>

    <a href="{% url 'materielEntre:materielEntre_add' %}" class="btn btn-success mb-3">
        + Nouvelle entrée
    </a>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Matériel</th>
                <th>Sortie liée</th>
                <th>Quantité</th>
                <th>Observation</th>
                <th>Date entrée</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

        {% for e in entrees %}

            <tr>
                <td>{{ e.id }}</td>

                <!-- MATÉRIEL -->
                <td>
                    {% if e.id_MaterielSort and e.id_MaterielSort.id_Materiel %}
                        {{ e.id_MaterielSort.id_Materiel.nom }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <!-- SORTIE LIÉE -->
                <td>
                    {% if e.id_MaterielSort %}
                        {{ e.id_MaterielSort.demandeur |title}}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td>{{ e.Nb_Entre }}</td>

                <td>
                    {{ e.observation|default:"-" }}
                </td>

                <td>{{ e.dateEntre|date:"d/m/Y H:i" }}</td>

                <td>
                    <a href="{% url 'materielEntre:materielEntre_edit' e.id %}"
                       class="btn btn-warning btn-sm">
                        ✏
                    </a>

                    <a href="{% url 'materielEntre:materielEntre_delete' e.id %}"
                       class="btn btn-danger btn-sm">
                        🗑
                    </a>

                    <a href="{% url 'materielEntre:materielEntre_detail' e.id %}"
                       class="btn btn-info btn-sm">
                        👁
                    </a>
                </td>
            </tr>

        {% empty %}

            <tr>
                <td colspan="7" class="text-center">
                    Aucune entrée trouvée
                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}