{% extends "base.html" %}
{% load humanize %}

{% block title %}
Détail utilisateur
{% endblock %}


{% block content %}


<h3 class="mb-4">
    Informations de l'utilisateur
</h3>


<div class="card shadow-sm">


    <div class="card-body">

        <div class="row">


            <!-- INFORMATIONS -->

            <div class="col-md-8">


                <p>
                    <strong>Personnel :</strong>
                    {{ user.personnel.nom|upper }}
                    {{ user.personnel.prenom|title }}
                </p>


                <p>
                    <strong>Fonction :</strong>
                    {{ user.personnel.fonction|title }}
                </p>


                <p>
                    <strong>Catégorie utilisation :</strong>
                    {{ user.get_role_display }}
                </p>


                <p>
                    <strong>Nom utilisateur :</strong>
                    {{ user.username }}
                </p>


                <p>
                    <strong>Email :</strong>
                    {{ user.email }}
                </p>


                <p>
                    <strong>Date création :</strong>
                    {{ user.date_creation|date:"d/m/Y H:i" }}
                </p>


            </div>



            <!-- PHOTO -->

            <div class="col-md-4 text-center">


                {% if user.personnel.photo %}

                    <img src="{{ user.personnel.photo.url }}"
                         alt="{{ user.username }}"
                         class="img-thumbnail shadow"
                         style="width:150px;height:150px;object-fit:cover;">

                {% endif %}


            </div>



        </div>


    </div>



    <div class="card-footer">


        <a href="{% url 'users:users_edit' user.id %}"
           class="btn btn-warning">

            Modifier

        </a>



        <a href="{% url 'users:users_delete' user.id %}"
           class="btn btn-danger">

            Supprimer

        </a>



        <a href="{% url 'users:users_liste' %}"
           class="btn btn-secondary">

            Retour

        </a>


    </div>



</div>


{% endblock %}