{% extends "base.html" %}

{% block title %}
Connexion utilisateur
{% endblock %}


{% block content %}
<div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-5">
        <div class="card shadow-sm p-4">
            <h3 class="text-center text-uppercase mb-4">
                <span class="text-primary mb-auto">
                    Connexion
                </span>
            </h3>


            {% if messages %}

                {% for message in messages %}

                    <div class="alert alert-danger">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}



            <form method="post">

                {% csrf_token %}


                <div class="mb-3">

                    <label>
                        Nom utilisateur
                    </label>

                    <input type="text"
                           name="username"
                           class="form-control"
                           placeholder="Votre utilisateur"
                           required>

                </div>



                <div class="mb-3">

                    <label>
                        Mot de passe
                    </label>

                    <input type="password"
                           name="password"
                           class="form-control"
                           placeholder="Votre mot de passe"
                           required>

                </div>



                <hr>



                <button type="submit"
                        class="btn btn-primary w-100">

                    Se connecter

                </button>



            </form>


        </div>

    </div>

</div>


{% endblock %}