{% extends "base.html" %}

{% block title %}
Formulaire Client
{% endblock %}

{% block content %}
<div class="card shadow-sm p-4 ">
    <h3 class="mb-2 text-center text-uppercase ">
        {% if form.instance.id %}
             <p class="text-justify text-info">Modifier le client</p>
        {% else %}
            <p class="text-justify text-success">Ajouter un client</p>
        {% endif %}
    </h3>
    <form method="post" enctype="multipart/form-data" id="client">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6">
            <div class="mb-2">
                <label>Nom</label>
                {{ form.nom }}
            </div>

            <div class="mb-2">
                <label>Prénom</label>
                {{ form.prenom }}
            </div>

            <div class="mb-2">
                <label>Date de naissance</label>
                {{ form.date_naissance }}
            </div>

            <div class="mb-2">
                <label>Lieu de naissance</label>
                {{ form.lieu_naissance }}
            </div>

            <div class="mb-2">
                <label>Père</label>
                {{ form.nom_pere }}
            </div>
            <div class="mb-2">
                <label>Mère</label>
                {{ form.nom_mere }}
            </div>
            <div class="mb-2" >
                <label>Adresse</label>
                {{ form.adresse }}
            </div>
            <div class="mb-2">
                <label>Téléphone</label>
                {{ form.telephone }}
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="mb-3">
                <label>Photo</label><br>
                {{ form.photo }}
            </div>
            {% if form.instance.photo %}
                <img src="{{ form.instance.photo.url }}"
                     class="img-thumbnail mt-2"
                     width="200">
            {% endif %}
        </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a href="{% url 'clients:client_list' %}" class="btn btn-secondary">Retour</a>
</form>

</div>
{% endblock %}