{% extends "base.html" %}
{% load static %}

{% block title %}
Liste des clients
{% endblock %}

{% block content %}

<h2 class="text-center mb-2 fw-bold">
    Liste des clients
</h2>
<form method="get" class="row g-2 align-items-end mb-4">
    <div class="col-md-3">
        <label class="form-label small">Nom</label>
        <input type="text" name="nom" value="{{ nom }}" class="form-control" placeholder="Nom">
    </div>
    <div class="col-md-3">
        <label class="form-label small">Prénom</label>
        <input type="text" name="prenom" value="{{ prenom }}" class="form-control" placeholder="Prénom">
    </div>
    <div class="col-md-3">
        <label class="form-label small">Contact</label>
        <input type="text" name="contact" value="{{ contact }}" class="form-control" placeholder="Contact">
    </div>
    <div class="col-md-3 d-flex gap-2">
        <button type="submit" class="btn btn-primary w-100">Rechercher</button>
        <a href="{% url 'clients:client_list' %}" class="btn btn-secondary w-100">Réinitialiser</a>
    </div>
</form>

<div class="row">

    {% for client in clients %}

    <div class="col-md-2 mb-3">

        <div class="card">

            {% if client.photo %}
                <img src="{{ client.photo.url }}"
                     class="card-img-top"
                     alt="{{ client.nom }}"
                     style="height:90px;width:100%;object-fit:cover;">
            {% else %}
                <img src="{% static 'images/default.png' %}"
                     class="card-img-top"
                     alt="Photo par défaut"
                     style="height:100px;width:100%;object-fit:cover;">
            {% endif %}
            <div class="card-body">
                <span class="badge bg-primary">
                    {{ client.nom|upper }} 
                    {{ client.prenom|title }}
                </span>
                {% comment %} <p class="mt-0 mb-0">
                    {{ client.nom }} {{ client.prenom }}
                </p> {% endcomment %}

                <p class="mt-0 mb-0">
                   📞  {{ client.contact }}
                </p>
            </div>
            <div class="d-flex justify-content-between p-2">
                <a href="{% url 'clients:client_detail' client.id %}"
                   class="btn btn-info btn-sm">
                    👁
                </a>

                <a href="{% url 'clients:client_edit' client.id %}"
                   class="btn btn-warning btn-sm">
                    ✏
                </a>

                <a href="{% url 'clients:client_delete' client.id %}"
                   class="btn btn-danger btn-sm">
                    🗑
                </a>

            </div>

        </div>

    </div>

    {% empty %}
        <p class="text-center text-muted">Aucun client trouvé</p>
    {% endfor %}

</div>

{% endblock %}